@model IEnumerable<WebAtividadeEntrevista.Models.BeneficiarioModel>

@{
    Layout = null;
    ViewBag.Title = "Beneficiários";
}

<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="Beneficiario_CPF">CPF:</label>
            <input required="required" type="text" class="form-control mascaraCPF" id="Beneficiario_CPF" name="Beneficiario_CPF" placeholder="Ex.: 010.011.111-00" maxlength="14">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="Beneficiario_Nome">Nome:</label>
            <input required="required" type="text" class="form-control" id="Beneficiario_Nome" name="Beneficiario_Nome" placeholder="Ex.: João" maxlength="50">
        </div>
    </div>
    <div class="col-md-2 justify-content-center">
        <div style="padding-top: 25px">
            <button id="beneficiarioIncluir" type="button" class="btn btn-success">Incluir</button>
        </div>
    </div>
</div>
<div class="row">
    <table id="gridBeneficiarios" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="beneficiario_@Html.DisplayFor(modelItem => item.Id)">
                <td style="display:none" id="@Html.DisplayFor(modelItem => item.Id)" value="@Html.DisplayFor(modelItem => item.Id)"></td>
                <td width="200" class="mascaraCPF">
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td width="200">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    <button type="button" value="@Html.DisplayFor(modelItem => item.Id)" class="btn btn-primary beneficiarioEditar">Editar</button>
                    <button type="button" value="@Html.DisplayFor(modelItem => item.Id)" class="btn btn-primary beneficiarioSalvar" style="display:none">Salvar</button>
                    <button type="button" value="@Html.DisplayFor(modelItem => item.Id)" class="btn btn-primary beneficiarioExcluir">Excluir</button>
                </td>
            </tr>
        }

    </table>
</div>

<script>
        listBeneficiarios = @Html.Raw(Json.Encode(Model))
        console.log('lista', listBeneficiarios)
</script>

