@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';

        var urlBeneficiario = '@Url.Action("Index", "Beneficiario", new { area = "" })';
        var urlBeneficiarioList = '@Url.Action("BeneficiarioListSemPaginacao", "Beneficiario", new { area = "" })';
        var urlBeneficiarioValidarCFP = '@Url.Action("VerificarCPF", "Beneficiario", new { area = "" })';
        var listBeneficiarios = @Html.Raw(Json.Encode(new List<WebAtividadeEntrevista.Models.BeneficiarioModel>()));


    </script>
    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/modalDialog")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/beneficiarioModal")

}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")
